:root {
    /* Colors */
    --clr-dark-blue: #334253;
    --clr-grayish-blue: #67727E;
    --clr-v-light-gray: #F5F6FA;
    --clr-light-gray: #E9EBF0;
    --clr-white: #FFFFFF;
    --clr-moderate-blue: #5357B6;
    --clr-light-grayish-blue: #C5C6EF;
    --clr-soft-red: #ED6368;
    --clr-pale-red: #FFB8BB;
   
    /* Font-sizes */    
    --fs-600: 1.5rem;    
    --fs-400: 1rem;

    /* Line height */
    --lh-big: 1.5;
    --lh-med: 1.166;

    /* Font Weight */
    --fw-bold: 600;

    /* font-families */
    --ff-rubik: 'Rubik', sans-serif;   

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: var(--fs-400);
    font-weight: 400;
    color: var(--clr-grayish-blue); 
    background-color: var(--clr-v-light-gray);
    font-family: var(--ff-rubik);
    min-height: 100vh;        
    line-height: var(--lh-med);
    display: grid;
    place-items: center;  
}

img,
picture {
    max-width: 100%;
    display: block;
}

p {
    margin: 0;
}

button {
    padding: 0;
    font-weight: 500;    
}

span {
    font-weight: 600;
    color: var(--clr-moderate-blue);
}

/* CUSTOM PROPERTIES */

/* colors */

.text-dark-blue {color: var(--clr-dark-blue)}
.text-grayish-blue {color: var(--clr-grayish-blue)}
.text-v-light-gray {color: var(--clr-v-light-gray)}
.text-light-gray {color: var(--clr-light-gray)}
.text-white {color: var(--clr-white)}
.text-moderate-blue {color: var(--clr-moderate-blue)}
.text-light-grayish-blue {color: var(--clr-light-grayish-blue)}
.text-soft-red {color: var(--clr-soft-red)}
.text-pale-red {color: var(--clr-pale-red)}

.bg-dark-blue {background-color: var(--clr-dark-blue)}
.bg-grayish-blue {background-color: var(--clr-grayish-blue)}
.bg-v-light-gray {background-color: var(--clr-v-light-gray)}
.bg-light-gray {background-color: var(--clr-light-gray)}
.bg-white {background-color: var(--clr-white)}
.bg-moderate-blue {background-color: var(--clr-moderate-blue)}
.bg-light-grayish-blue {background-color: var(--clr-light-grayish-blue)}
.bg-soft-red {background-color: var(--clr-soft-red)}
.bg-pale-red {background-color: var(--clr-pale-red)}

/* typography */

.ff-rubik { font-family: var(--ff-rubik) }

.uppercase { text-transform: uppercase; }

.fs-600 { font-size: var(--fs-600); }
.fs-400 { font-size: var(--fs-400); }

.fw-bold { font-weight: var(--fw-bold); }

.lh-big { line-height: var(--lh-big);}
.lh-def { line-height: var(--lh-med);}

/* Utility */
.container {
    max-width: 730px;
    padding: 1rem;
    min-width: 360px;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1.5rem);    
}

.hidden {
    display: none;
}


/* Main Layout */

.comment-container {
    min-width: 100%;
}

.comment-inner {
    background-color: var(--clr-white);
    border-radius: 1rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    column-gap: 1.5rem;
    row-gap: 1rem;
    grid-template-columns: min-content 1fr 200px;
    grid-template-areas: 'rating user reply'
                         'rating text text'
                         'rating text text'
                         '. text text';
    
}

@media (max-width:500px){
    .comment-inner {
        grid-template-columns:  1fr 1fr;
        grid-template-areas: 'user user'
                             'text text'
                             'rating reply';                         
    }
}

.comment-inner > p{
    grid-area: text
}

.comment-inner-rating {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: rating;
    padding-inline: 0.7rem;
    padding-block:0.3rem;
    background-color: var(--clr-v-light-gray);
    border-radius: 0.4rem;
}

.comment-inner-rating> img {
    cursor: pointer;
}

@media (max-width:500px){
    .comment-inner-rating {
        flex-direction: row;
        max-width: 120px;
        min-width: 100px;
    }
}

.comment-inner-user {
    align-items: center;
    grid-area: user;
    gap:0.85rem
}

.comment-inner-user > img {
    width: 32px;
    aspect-ratio: 1;
}

.comment-inner-reply {
    grid-area: reply;
    border: none;
    background-color: transparent;
    justify-content: flex-end;
    gap:0.5rem;
    align-items: center;
}

.comment-inner-change {
    grid-area: reply;
    gap:2rem;
    justify-content: flex-end;
}

.button-change {
    border:none;
    background-color: transparent;
    align-items: center;
    gap:0.5rem;
    cursor: pointer;
}


.comment-inner-reply:hover {
    cursor: pointer;
}

.comment-inner-reply[disabled]{
    cursor: not-allowed;
}

.reply-section {
    flex-grow: 2;
}

.comment-form {
    align-items: flex-start;
    column-gap: 0.5rem;
}

.comment-form > img {
    width: 32px;
    aspect-ratio: 1;
}

.comment-form > button {
    background-color: var(--clr-moderate-blue);
    border-radius: 0.5rem;
    border: none;
    padding-inline: 1.5rem;
    padding-block: 0.7rem;
    font-family: 'Rubik';
    font-weight: 500;
}

.comment-form > button:hover {
    cursor: pointer;
}

.comment-form > textarea {
    align-self: stretch;
    min-height: 70px;
    flex-grow:1;
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-light-gray);
    outline: 1px solid var(--clr-light-gray);
    padding: 0.8rem;
    
}

.comment-form > textarea::placeholder {    
    position:absolute;
    left: 10px;
    top:10px
}





/* TEMPLATE AREAS */

/* .comment-inner-rating {
    grid-area: rating ;
} */

.comment-inner-user {
    grid-area: user;
}

.replies-line {
    min-width: clamp(30px, 6vw, 85px);
    position: relative;
}

.replies-line::after {
    content: ' ';
    position: absolute;
    background-color: var(--clr-light-gray);
    width: 2px;
    left: 50%;
    min-height: 100%;

}

.delete-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;    
  }


.delete-modal-content {
    background-color: var(--clr-white);
    max-width: 400px;
    padding-inline: 2rem;
    padding-block: 1.5rem;
    border-radius: 1rem;
}

.delete-option-button {
    border-radius: 0.5rem;
    color: var(--clr-white);
    border: none;
    padding-inline: 1rem;
    padding-block: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    
}

.delete-modal-content > div.flex {
    gap:0.5rem
}

.delete-modal-content > div.flex > *{
    flex-grow: 1;    
}






